
body{
	background-color: #f0cce3;
}

.top{
	height: 200px;
	background-image: url(../img/index9.jpg);
	background-size: auto;
	background-repeat: inherit;
	margin: 0 0 30px 0;

}
.top h1{
	color: darkblack;
	text-align: center;

}

.navigator{
	margin: 0 0 30px 0;
}


.ancor{
	background-color: red;
	padding: 10px 20px;
	color: white;
	border-radius: 30px;
	text-align: center;
}

.ancor:hover{
	color: blue;
	text-decoration: none;
}
.second{
	margin: 0 0 30px 0;
}